

@model TashBlock.Models.HeadLevel
@{
    ViewData["Title"] = "Create";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("GetBy", "Level1", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <form name="myform" onsubmit="return myfun">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />

                </div>

                
            </form>
        </div>
    </div>
};