@model TashBlock.Models.purchaseorder

@{
    ViewData["Title"] = "purchaseorder";
}

<h1>purchaseorder</h1>

<h4>purchaseorder</h4>
<hr />
@using (Html.BeginForm("Save", "purchaseorder", FormMethod.Post))
{

<div class="container">
    <div class="row">

        <form asp-action="purchaseorder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PurchaseOrderDate" class="control-label"></label>
                    <input asp-for="PurchaseOrderDate" class="form-control" />
                    <span asp-validation-for="PurchaseOrderDate" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label asp-for="PurchaseOrderNo" class="control-label"></label>
                    <input asp-for="PurchaseOrderNo" class="form-control" />
                    <span asp-validation-for="PurchaseOrderNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Terms" class="control-label"></label>
                    <input asp-for="Terms" class="form-control" />
                    <span asp-validation-for="Terms" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Ref_MroNo" class="control-label"></label>
                    <input asp-for="Ref_MroNo" class="form-control" />
                    <span asp-validation-for="Ref_MroNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Attn" class="control-label"></label>
                    <input asp-for="Attn" class="form-control" />
                    <span asp-validation-for="Attn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FaxNo" class="control-label"></label>
                    <input asp-for="FaxNo" class="form-control" />
                    <span asp-validation-for="FaxNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ContactPerson" class="control-label"></label>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ProjectTitle" class="control-label"></label>
                    <input asp-for="ProjectTitle" class="form-control" />
                    <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DeliverTo" class="control-label"></label>
                    <input asp-for="DeliverTo" class="form-control" />
                    <span asp-validation-for="DeliverTo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SupplierName" class="control-label"></label>
                    <select asp-for="SupplierName" class="form-control" asp-items="@(new SelectList(ViewBag.Listoflist,"Value","Text"))">
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SupplierLocation" class="control-label"></label>
                    <input asp-for="SupplierLocation" class="form-control" />
                    <span asp-validation-for="SupplierLocation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            @*<div class="col-m5">
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m5">
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m5">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m6">
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
        </div>

        <div class="col-m6">
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m6">
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m7">
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m7">
            <div class="form-group">
                <label asp-for="TotalQuality" class="control-label"></label>
                <input asp-for="TotalQuality" class="form-control" />
                <span asp-validation-for="TotalQuality" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m7">
            <div class="form-group">
                <label asp-for="NetAmount" class="control-label"></label>
                <input asp-for="NetAmount" class="form-control" />
                <span asp-validation-for="NetAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m8">
            <div class="form-group">
                <label asp-for="DiscountOptional" class="control-label"></label>
                <input asp-for="DiscountOptional" class="form-control" />
                <span asp-validation-for="DiscountOptional" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m8">
            <div class="form-group">
                <label asp-for="ValueOptional" class="control-label"></label>
                <input asp-for="ValueOptional" class="form-control" />
                <span asp-validation-for="ValueOptional" class="text-danger"></span>
            </div>
        </div>
        <div class="col-m8">
            <div class="form-group">
                <label asp-for="SalesTax" class="control-label"></label>
                <input asp-for="SalesTax" class="form-control" />
                <span asp-validation-for="SalesTax" class="text-danger"></span>
            </div>
        </div>*@

        </form>
</div>
   
</div>
}
